<div class="container text-align-center">
  <div class="header">
    <h1>Dragon Ball Multiverse, DBZ vu par les fans</h1>
    <a class="button_dbm" href="http://www.dragonball-multiverse.com/" target="_/"><%= DbmPage.count %> pages en ligne</a>
    <h2>Difficile d'attendre le chapitre terminé ?</h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>Ici, le dernier chapitre complet</p>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= @finished_chapter.img_url %>);">
        <div class="card-description font-banger">
          <p><%= "#{@finished_chapter.pages.count} pages" %></p>
        </div>
        <a class="button_dbm card-button" target="_/" href=<%=@finished_chapter.button_link %> ><%= @finished_chapter.button_text %></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>Et là, le chapitre en cours</p>
      <div class="card font-banger" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= @unfinished_chapter.img_url %>);">
        <div class="card-description">
          <p><%= "#{@unfinished_chapter.pages.count} pages" %></p>
        </div>
        <a class="button_dbm card-button" target="_/" href= <%=@unfinished_chapter.button_link %> ><%= @unfinished_chapter.button_text %></a>
      </div>
    </div>
  </div>
  <div class="page-subtitle font-banger">
    <h2>Ce site patiente pour toi &#9203;</h2>
  </div>
</div>
