<h1>Liste des chapitres</h1>
<p>Page de départ du projet :</p>
<p>Afficher le dernier chapitre en cours sur DBM, et notifier quand ce chapitre est terminé</p>
<p>(si la nouvelle page fait partie d'un nouveau chapitre)</p>

<p>Infos à aller chercher sur le site officiel de <a href="http://www.dragonball-multiverse.com/">Dragon Ball Multiverse</a></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @finished_chapter.img_url %>);">
        <div class="card-description">
          <h2><%= "#{@finished_chapter.pages.count} pages" %></h2>
        </div>
        <img class="card-user" src="http://www.dragonball-multiverse.com/design/Leftbar2.jpg">
        <a class="btn-treehouse card-button" target="_/" href=<%=@finished_chapter.button_link %> ><%= @finished_chapter.button_text %></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @unfinished_chapter.img_url %>);">
        <div class="card-description">
          <h2><%= "#{@unfinished_chapter.pages.count} pages" %></h2>
        </div>
        <img class="card-user" src="http://www.dragonball-multiverse.com/design/Leftbar2.jpg">
        <a class="btn-treehouse card-button" target="_/" href= <%=@unfinished_chapter.button_link %> ><%= @unfinished_chapter.button_text %></a>
      </div>
    </div>
  </div>
</div>
