<div class="container">
  <div class="row">
    <h1>Attendre pour lire un chapitre complet</h1>
    <p><a href="http://www.dragonball-multiverse.com/">Dragon Ball Multiverse</a></p>
    <div class="col-xs-12 col-sm-6">
      <p>A gauche, le dernier chapitre complet</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>A droite, le chapitre en cours</p>
    </div>
    <p>Je patiente pour toi ;)</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @finished_chapter.img_url %>);">
        <div class="card-description">
          <h2><%= "#{@finished_chapter.pages.count} pages" %></h2>
        </div>
        <img class="card-user" src="http://www.dragonball-multiverse.com/design/Leftbar2.jpg">
        <a class="btn-treehouse card-button" target="_/" href=<%=@finished_chapter.button_link %> ><%= @finished_chapter.button_text %></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @unfinished_chapter.img_url %>);">
        <div class="card-description">
          <h2><%= "#{@unfinished_chapter.pages.count} pages" %></h2>
        </div>
        <img class="card-user" src="http://www.dragonball-multiverse.com/design/Leftbar2.jpg">
        <a class="btn-treehouse card-button" target="_/" href= <%=@unfinished_chapter.button_link %> ><%= @unfinished_chapter.button_text %></a>
      </div>
    </div>
  </div>
</div>
